@import "../../../../styles/variables";

.flex-bar {
    display: flex;
    margin-top: 20px;

    button {
        margin-right: 15px;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.side {
    width: 100%;
}

.border-bottom {
    @include themify($themes) {
        border-bottom: 1px solid themed("border-color");
    }
}

.classrooms-outer {
    margin-top: 40px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;

    .classroom-inner {
        padding: 20px;
        min-height: 150px;

        box-sizing: border-box;

        @include themify($themes) {
            background-color: themed("header-color");
            border: 2px solid themed("border-color");
        }

        border-radius: 5px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                font-size: 14px;
                line-height: none;

                @include themify($themes) {
                    color: themed("text-secondary");
                }
            }
    
            h3 {
                font-size: 15px;
                margin-top: 5px;

                @include themify($themes) {
                    color: themed("text-primary");
                }
            }

            .edit-icon {
                color: $text-secondary;
            }
        }


        .user {
            display: flex;
            flex-direction: row;

            align-items: center;

            p {
                color: $text-secondary;
                margin-left: 10px;
                font-size: 14px;
            }

            img {
                width: 25px;
                border-radius: 50%;
            }
        }
        
    }
}