@import "../../styles/variables";

.user-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: fit-content;

    user-select: none;

    .user-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 17px;
        padding: 5px;

        i {
            margin-left: 10px;
            margin-right: 5px;

            font-size: 12px;
        
            @include themify($themes) {
                color: themed("text-secondary");
            }
        }

        &:hover {
            cursor: pointer;

            @include themify($themes) {
                background-color: themed("active-color");
            }
        }

        .role {
            font-size: 10px;
            padding: 3px;

            @include themify($themes) {
                background-color: themed("header-color");
            }
        }

        img {
            width: 30px;
            height: 30px;
            
            border-radius: 50%;

            z-index: 2;
        }

        @mixin bar {
            display: flex;
            padding: 9px 18px;
            font-size: 13px;
            font-weight: 600;
            z-index: 1;
            display: flex;
            align-items: center;
        }

        .user-experience {
            @include bar;

            margin-right: -8px;
            
            border-radius: 5px 0px 0px 5px;
    
            color: $color-amber;

            width: 100%;

            i {
                margin-right: 5px;
                margin-top: -1px;
            }
        }

        .user-username {
            @include bar;

            margin-left: -8px;

            border-radius: 0px 5px 5px 0px;
        
            @include themify($themes) {
                color: themed("text-primary");
            }

            width: 100%;

            i {
                margin-left: 8px;
                margin-top: -3px;
            }
        }
    }
}

.action-menu {
    position: absolute;
    right: 20px;
    top: 60px;

    padding: 5px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 3px 12px -2px rgba(51, 51, 51, 0.10);


    @include themify($themes) {
        background-color: themed("header-color");
        border: 1px solid themed("border-color");
    }

    border-radius: 5px;

    width: 250px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    li {
        display: flex;
        align-items: center;

        box-sizing: border-box;

        padding: 10px;

        color: $text-secondary;
        font-weight: 400;

        font-size: 13px;

        i {
            margin-right: 7px;
            color: $text-secondary;
            font-size: 13px;
        }

        &:hover {
            @include themify($themes) {
                background-color: themed("active-color");
            }
            color: $primary-brand-color;

            i {
                color: $primary-brand-color;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}