@import "../../../../styles/variables";

.buttons {
    margin-top: 20px;

    button {
        margin-right: 15px;
    }
}

.classrooms-outer {
    margin-top: 40px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;

    .classroom {
        padding: 20px;
        min-height: 150px;

        box-sizing: border-box;

        background-color: $primary-brand-color;

        border-radius: 5px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-image: url(https://cdn-icons-png.flaticon.com/512/5458/5458781.png);
        background-position: -83% -14%;

        &:nth-child(2) {
            background-color: #36ac74;
        }

        .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .edit-icon {
                color: white;
            }
        }

        .text {
            p {
                font-size: 15px;
                color: rgb(225, 225, 225);
            }
    
            h3 {
                font-size: 16px;
                color: white;
            }
        }

        .user {
            display: flex;
            flex-direction: row;

            align-items: center;

            p {
                color: rgb(225, 225, 225);
                margin-left: 10px;
            }

            img {
                width: 30px;
                border-radius: 50%;
            }
        }
        
    }
}