@import "../../styles/variables";

.small {
    padding: 7px 12px;
    font-size: .7rem;
}

.fit {
    width: inherit;
}

.clear {
    @include themify($themes) {
        color: themed("text-secondary");
        border: 1px solid themed("border-color");
    }

    background: none;
    height: fit-content;

    &:hover {
        @include themify($themes) {
            color: themed("text-primary");
        }

        background: none;
    }
}

.inactive {
    color: transparentize($primary-brand-color, 0.5) !important;
    background-color: transparentize($primary-brand-color, 0.9) !important;
}

.button {
    &__danger {
        $color: $color-pink;

        background-color: $color;

        &--inactive {
            color: transparentize($color, 0.5) !important;
            background-color: transparentize($color, 0.9) !important;
        }

        &:hover {
            background-color: darken($color, 10%)
        }
    }
}

button {
    padding: 8px 20px;
    border-radius: 3px;
    color: white;
    border: none;
    background-color: $primary-brand-color;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;

    height: fit-content;

    transition: .1s;

    &:hover {
        background-color: darken($primary-brand-color, 10%)
    }

    &:active {
        background-color: darken($primary-brand-color, 15%);
    }

    i {
        font-size: 13px;
        margin-left: 2px;
    }
}

.primary {
    background: $primary-brand-color !important;
    box-shadow: $primary-brand-color 0px 0px 10px 0px, $primary-brand-color 0px 0px 12px 4px inset;

    position: relative;
    background-image: linear-gradient(-45deg,rgba(23,23,33,.1) 25%,transparent 0,transparent 50%,rgba(23,23,33,.1) 0,rgba(23,23,33,.1) 75%,transparent 0,transparent) !important;
    background-size: 20px 20px !important;

    &:hover {
        background-color: darken($primary-brand-color, 20%) !important; 
    }
}