@import "../../styles/variables";

.small {
    padding: 7px 10px;
    font-size: 13px;
}

.fit {
    width: inherit;
}

.clear {
    border: 2px solid $border-color;
    color: $text-secondary;
    background: none;

    &:hover {
        background: none;
    }
}

button {
    padding: 8px 20px;
    border-radius: 3px;
    color: $primary-brand-color;
    border: none;
    background-color: $color-blue-dark-dark;
    font-size: 15px;
    font-weight: 700;

    transition: .1s;

    &:hover {
        background-color: darken($color-blue-dark-dark, 3%)
    }

    &:active {
        background-color: darken($color-blue-dark-dark, 5%);
    }

    i {
        font-size: 13px;
        margin-left: 2px;
    }
}

.primary {
    background: $primary-brand-color !important;
    box-shadow: $primary-brand-color 0px 0px 10px 0px, $primary-brand-color 0px 0px 12px 4px inset;

    position: relative;
    background-image: linear-gradient(-45deg,rgba(23,23,33,.1) 25%,transparent 0,transparent 50%,rgba(23,23,33,.1) 0,rgba(23,23,33,.1) 75%,transparent 0,transparent) !important;
    background-size: 20px 20px !important;

    &:hover {
        background-color: darken($primary-brand-color, 20%) !important; 
    }
}