@import "../../../../../styles/variables";

.fixed {
    transform: none !important;

    right: 0px;
    top: 0px;
    left: unset !important;

    height: 100%;

    animation: fadeInRight;
    animation-duration: 0.5s; /* don't forget to set a duration! */

    .bottom {
        position: absolute;
        bottom: 0px;
    }
}

.popup-classroom {
    min-width: 400px !important;

    .img-outer {
        margin-top: -35px;

        display: flex;
        justify-content: center;

        img {
            height: 250px;
        }
    }

    .text-under {
        text-align: center;

        b {
            color: $primary-brand-color;
            font-size: 16px;
        }

        p {
            color: $text-secondary;

            font-size: 14px;
            font-weight: 300;

            margin-top: 5px;
        }
    }

    .description {
        height: 200px;
    }

    .process-outer {
        display: flex;
    
        flex-direction: row;
        align-items: center;

        margin-bottom: 20px;
        padding-bottom: 20px;

        border-bottom: 2px solid $border-color;

        .completed {
            span {
                background-color: lighten($primary-brand-color, 15%) !important;
                color: $primary-brand-color !important;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 25px;
                height: 25px;

                i {
                    font-size: 10px;
                }
            }

            p {
                color: #757575 !important;
            }
        }

        .process {
            display: flex;
    
            flex-direction: row;
            align-items: center;

            padding-right: 20px;
            margin-right: 20px;

            border-right: 2px solid $border-color;
            
            &:last-child {
                border-right: none;
            }
    
            span {
                background-color: $primary-brand-color;
                color: white;
    
                font-size: 11px;

                padding: 5px 10px;

                box-sizing: border-box;
                border-radius: 2px;
    
                margin-right: 10px;

                width: 20px;
                height: 20px;

                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            p {
                font-size: 13px;
                color: $text-secondary;
            }
        }
    }
}
