@import "../../styles/variables";

.notification-outer {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 15px;

    font-size: 16px;

    @include themify($themes) {
        color: themed('text-secondary');  
    } 

    i {
        @include themify($themes) {
            color: themed('text-secondary') !important;  
        } 
    }

    &:hover {
        @include themify($themes) {
            color: themed('text-primary');  
        } 

        i {
            @include themify($themes) {
                color: themed('text-primary') !important;  
            } 
        }
    }
}

.dashboard {
    &__header {
        width: 100%;
        
        display: flex;
        flex-direction: column;

        @include themify($themes) {
            background-color: themed('header-color');  
            box-shadow: inset 0 -1px 0 0 themed("border-color");
        }
    
        h1 {
            font-size: 14px;
            padding: 20px 0px;
        }
    }

    .feature-notification {
        cursor: pointer;
        margin-bottom: 20px;
        padding: 7px 14px;
        border-radius: 5px;
        background-color: #352F1C;
        border: 2px solid #917124;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: 13px;
        font-weight: 500;

        i {
            color: #ECB728;
        }

        p {
            color: #ECB728;
        }
    }

    &__section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;

            i {
                @include themify($themes) {
                    color: themed('text-primary');  
                }
            }

            h1 {
                font-size: 20px;
                margin-left: 7px;
    
                @include themify($themes) {
                    color: themed('text-primary');  
                }
            }   
            
            img {
                width: 30px;
                height: 30px;
            }
        }

        &:last-child {
            margin-bottom: 0px;
        }

        &:first-child {
            padding: 0px 20px;
        }

        &:nth-child(2) {
            @include themify($themes) {
                border-top: 1px solid themed("border-color");
            }
        }

        .alert-outer {
            width: 100%;
            padding: 12px;
            text-align: center;

            font-size: 14px;

            color: white; 

            &--success {
                background-color: $color-success;
            }
        }

        .logo {
            height: 30px;
        }

        .links {
            display: flex;
            height: 64px;
 
            margin-right: 20px;

            .item-inner {
                display: flex;
                flex-direction: row;
                align-items: center;
                white-space: nowrap;
            }

            &__logout {}
    
            &__item {
                display: flex;
                align-items: center;
        
                height: 100%;
                font-size: 13px;
                letter-spacing: -.11px;
                padding: 0 20px;

                &:last-child {
                    margin-right: 0px;
                }
        
                text-decoration: none;

                &--active {
                    border-top: 2px solid $primary-brand-color;
                    
                    p {
                        @include themify($themes) {
                            color: themed("text-primary") !important;
                        }

                        margin-top: -2px;
                        font-weight: 600 !important;
                    }
            
                    i {
                        @include themify($themes) {
                            color: themed("text-primary");
                        }
                    }
            
                    img {
                        filter: invert(1) !important;
                    }
                }
        
                span {
                    padding: 3px 6px;
                    border-radius: 5px;
                    font-size: 12px;
                    font-weight: 700;
        
                    @include themify($themes) {
                        color: themed("header-color");
                        background-color: themed("text-secondary");
                    }
                }
        
                &:first-child {
                    margin-top: 0px;
                }
        
                i {
                    width: 30px;
                    padding-right: 15px;
        
                    @include themify($themes) {
                        color: themed("text-secondary");
                    }
                }
        
                img {
                    width: 30px;
                    filter: invert(0.75);
                    padding-right: 15px;
                }
        
                p {
                    @include themify($themes) {
                        color: themed("text-secondary");
                    }
        
                    font-size: 13px;
                    font-weight: 400;
                }
        
                &:hover {
                    @include themify($themes) {
                        background-color: themed("active-color");
                    }
        
                    i {
                        @include themify($themes) {
                            color: themed("text-primary");
                        }
                    }
        
                    img {
                        filter: invert(1);
                    }
        
                    p {
                        @include themify($themes) {
                            color: themed("text-primary");
                        }
                    }
                }
            }
        }

    }
}