@import "../../styles/variables";

.sidebar {
    max-width: 260px;
    min-width: 260px;

    height: 100vh;

    padding: 15px;
    box-sizing: border-box;

    @include themify($themes) {
        border-right: 1px solid themed('border-color');  
        background-color: themed('main-color');
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .feature-notification {
        cursor: pointer;
        margin-bottom: 20px;
        padding: 7px 14px;
        border-radius: 5px;
        background-color: #352F1C;
        border: 2px solid #917124;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: 13px;
        font-weight: 500;

        i {
            color: #ECB728;
        }

        p {
            color: #ECB728;
        }
    }

    .section {
        padding-top: 20px;
        padding-bottom: 20px;

        @include themify($themes) {
            border-bottom: 2px solid themed('border-color');  
        }

        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            padding-bottom: 0px;
            border-bottom: 0px;
        }

        .title {
            @include themify($themes) {
                color: themed("text-secondary");
            }

            font-weight: 600;
            font-size: 13px;
            padding-left: 10px;
            padding-bottom: 7px;
        }

        &-account {

        }
    }
}