@import "../../../../styles/variables";

.space-between {
    justify-content: space-between;
}


.input-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px 20px;
    border-radius: 8px;

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
    }

    @include themify($themes) {
        background-color: themed("header-color");
    }

    input {
        padding: 8px 0px 8px 10px;
        border-radius: 8px;

        @include themify($themes) {
            color: themed("text-primary");
        }

        border: none;
        background-color: transparent;
        font-size: 15px;
        font-weight: 500;
        margin-right: 15px;

        &:focus {
            border: none;
            outline: none;
        }
    }

    i {
        @include themify($themes) {
            color: themed("text-secondary");
        }

        font-size: 14px;
    }

    img {
        width: 30px;
        height: 30px;

        border-radius: 50%;
    }
}

.table-outer {
    max-height: 76vh;

    overflow: auto;
}

#customers {
    width: 100%;

    margin-top: 30px;

    border-collapse: collapse;
    overflow: auto;

    td, th {
        padding: 15px;
    }

    tr {
        border-radius: 5px;
    }

    thead {

        tr {
            &:first-child {
                 @include themify($themes) {
                    background-color: themed("header-color");
                }
    
                th {
                    font-size: 13px;
                    font-weight: 500;

                    @include themify($themes) {
                        color: themed("text-secondary");
                    }
                }
            }
        }
    }

    tbody {
        width: 100%;
        overflow-y: scroll;
    }

    th {
        text-align: left;
        color: white;

        width: fit-content;

        i {
            font-size: 12px;
            margin-right: 3px;
        }
    }

    td {
        font-size: 13px;
        font-weight: 300;
        transition: .2s;

        border-radius: 5px;

        &:hover {
             @include themify($themes) {
                background-color: themed("border-color");
            }
        }
    }

    .edit-user {
        text-align: center;

        @include themify($themes) {
            color: themed("text-secondary");
        }

        width: 20px;

        &:hover {
            background: none !important;
        }

        i:hover {
            color: white;
        }
    }

    .user-plan {
        padding: 2px 5px;
        border-radius: 3px;

        color: #ECB728;
        border: 1px solid #917124;
        background-color: #352F1C;
    }

    .user {
        width: fit-content;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 2px 10px 2px 0px;
        border-radius: 3px;

        @include themify($themes) {
            background-color: themed("active-color");
            border: 1px solid themed("border-color");
            color: themed("text-primary");
        }

        font-weight: 500;

        img {
            width: 20px;
            height: 20px;
            
            border-radius: 3px;
            margin-right: 7px;
        }

        p {
            font-weight: 300;
        }
    }

    .role {
        font-weight: 600;
    }

    .online {
        font-size: 14px;

        color: $color-success;
    }

    .offline {
        padding: 5px 8px;
        border-radius: 3px;

        font-size: 14px;
        font-weight: 600;

        color: $color-red;
    }
}