@import "../../styles/variables";

.sidebar {
    max-width: 260px;
    min-width: 260px;

    height: 100vh;

    padding: 15px;
    box-sizing: border-box;

    @include themify($themes) {
        border-right: 1px solid themed('border-color');  
        background-color: themed('main-color');
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section {
        padding-top: 20px;
        padding-bottom: 20px;

        @include themify($themes) {
            border-bottom: 2px solid themed('border-color');  
        }

        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            padding-bottom: 0px;
            border-bottom: 0px;
        }

        .title {
            @include themify($themes) {
                color: themed("text-secondary");
            }

            font-weight: 600;
            font-size: 13px;
            padding-left: 10px;
            padding-bottom: 7px;
        }

        &-account {

        }
    }
}