@import "../../../../styles/variables";

#progressInput {
    margin: 20px auto;
    width: 30%;
}

.padding {
    padding: 25px;
}

.classroom-activity {
    display: flex;
    flex-direction: column;

    margin-top: 20px;

    &__input {}

    &__item {
        display: flex;
        flex-direction: row;

        margin-bottom: 20px;
        padding-bottom: 20px;;

        @include themify($themes) {
            border-bottom: 1px solid themed("border-color");
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 5px;
        }

        &:last-child {
            margin-bottom: 0px;
            border-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        &-text {
            display: flex;
            flex-direction: row;

            &--teacher {
                color: $primary-brand-color !important;
            }

            b {
                font-size: 14px;

                @include themify($themes) {
                    color: themed("text-primary");
                }
            }

            p {
                font-size: 14px;
                margin-left: 5px;

                @include themify($themes) {
                    color: themed("text-secondary");
                }
            }
        }

        &-inner {
            display: flex;
            margin-top: 5px;

            p {
                font-size: 14px;

                @include themify($themes) {
                    color: transparentize(themed("text-primary"), 0.8);
                }
            }
        }
    }
}

.container {
    margin-bottom: 30px;
    border-radius: 5px;

    &__background {
        @include themify($themes) {
            background-color: themed("header-color");
            border: 1px solid themed("border-color");
        }
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include themify($themes) {
            color: themed("text-secondary");
        }

        font-size: 14px;

        .input-outer {
            margin-left: 15px;
        }

        p {
            white-space: nowrap;
            padding-right: 15px;
            font-weight: 600;
        }

        i {
            margin-right: 10px;

            @include themify($themes) {
                color: themed("text-secondary");
            }
        }

        .line {
            width: 100%;
            height: 1px;

            @include themify($themes) {
                background-color: themed("border-color");
            }
        }
    }
}

.quiz {
    &__warning {
        padding: 15px 20px;

        $color: $primary-brand-color;

        border: 1px solid transparentize($color, 0.7) !important;
        background-color: transparentize($color, 0.9) !important;

        .quiz__text {
            i {
                margin-right: 5px;
            }

            p {
                color: $color;
            }
        }

        button {
            margin-left: 10px;
        }
    }
}

.classroom {
    width: 100%;

    &__inner {
         max-width: 1000px !important;
    }

    &__items {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;

        border-radius: 5px;

        @include themify($themes) {
            border: 1px solid themed("border-color");
        }

        &-item {
            padding: 10px 25px;
            font-size: 14px;

            flex-grow: 1;
            text-align: center;

            @include themify($themes) {
                color: themed("text-secondary");
                border-right: 1px solid themed("border-color");
                background-color: themed("subheader-color");
            }

            &--selected {
                @include themify($themes) {
                    color: $primary-brand-color;
                    border-bottom: 1px solid $primary-brand-color;
                    background-color: transparentize($primary-brand-color, 0.9) !important;
                }
            }

            &:last-child {
                border-right: 0px;
            }

            &:hover {
                @include themify($themes) {
                    color: $primary-brand-color;
                    border-bottom: 1px solid $primary-brand-color;
                    background-color: transparentize($primary-brand-color, 0.9) !important;
                }
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-bottom: 20px;
        margin-bottom: 30px;

        border-radius: 5px;

        .buttons {
            display: flex;
            flex-direction: row;

            button {
                margin-right: 10px;
            }

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 6px;
                margin-right: 15px;

                width: 30px;
                height: 30px;

                @include themify($themes) {
                    background-color: themed("active-color");
                }

                &:last-child {
                    margin-right: 0px;
                }

                &:hover {
                    @include themify($themes) {
                        border: 1px solid $primary-brand-color;
                        background-color: transparentize($primary-brand-color, 0.9) !important;
                    }

                    i {
                        color: $primary-brand-color !important;
                    }
                }

                i {
                    font-size: 13px;

                    @include themify($themes) {
                        color: themed("text-secondary");
                    }
                }
            }
        }

        .text {
            @include themify($themes) {
                color: themed("text-primary");
            }

            position: relative;

            h1 {
                font-size: 25px;
            }

            p {
                font-size: 14px;
                font-weight: 500;

                @include themify($themes) {
                    color: themed("text-secondary");
                }
            }

            .title {
                margin-top: 10px;
            }
        }
    }


}


.head-image {
    position: absolute;

    left: -55px;
    top: -55px;

    width: calc(100% + 110px);
    height: 150px;

    overflow: hidden;

    z-index: 0;

    .image {
        width: 100%;
        height: 100%;

        opacity: 10%;

        z-index: 0;

        background-image: url(https://cdn.dribbble.com/users/1731254/screenshots/14335377/media/70e37d6448b5da9139e4e3cf3f147703.png?compress=1&resize=1200x900);
    }

    .gradient {
        height: 100%;
        position: relative;
        top: -100px;
        background-image: linear-gradient(180deg, rgba(33, 33, 33, 0), #141415 48%);

        z-index: 2;
    }
}

.toggle {
    width: 60px !important;
    min-width: 60px !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;

    .user {
        .icon {
            padding-left: 0px !important;
        }

        &:hover {
            border: none !important;

            @include themify($themes) {
                background-color: themed("header-color");
            }
        }
    }

    .toggle-sidebar {
        border-radius: 5px;

        i {
            margin-right: 0px !important;
        }
    }

    .section {
        b {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 0px !important;
        }
    }
}

.classroom-sidebar {
    width: 250px;
    min-width: 250px;
    max-width: 250px;

    height: 100vh;

    overflow: auto;

    @include themify($themes) {
        background-color: themed("header-color");
        border-left: 1px solid themed("border-color");
    }

    padding: 30px 0px;
    box-sizing: border-box;

    .toggle-sidebar {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        padding: 10px;
        margin-bottom: 20px;

        user-select: none;

        @include themify($themes) {
            background-color: themed("active-color");
            color: themed("text-secondary");
        }

        font-size: 13px;

        i {
            margin-right: 5px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .section {
        display: flex;
        flex-direction: column;

        b {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 400;

            @include themify($themes) {
                color: themed("text-secondary");
            }

            padding-left: 20px;
        }

        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0px;

            .users {
                border-bottom: none !important;
            }
        }

        .users {
            display: flex;
            flex-direction: column;

            margin-top: 10px;
            padding-bottom: 20px;

            @include themify($themes) {
                border-bottom: 1px solid themed("border-color");
            }

            .user {
                display: flex;
                flex-direction: row;
                align-items: center;

                padding: 8px 0px;

                user-select: none;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 15px;

                    @include themify($themes) {
                        color: themed("text-secondary");
                    }
                }

                &__id {
                    margin-top: 2px;

                    font-size: 10px !important;
                    font-weight: 300 !important;

                    @include themify($themes) {
                        color: themed("text-secondary") !important;
                    }
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                &:hover {
                    @include themify($themes) {
                        background-color: themed("border-color");
                    }

                    p {
                        @include themify($themes) {
                            color: themed("text-primary");
                        }
                    }

                    border-left: 3px solid $primary-brand-color;
                    background-color: $border-color;
                }

                .user-me {
                    color: $primary-brand-color;
                }

                .user-me-icon {}

                .icon {
                    display: flex;
                    position: relative;

                    padding-left: 20px;

                    img {
                        height: 30px;
                        width: 30px;

                        border-radius: 5px;
                    }

                    .status {
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background-color: $color-red;

                        position: absolute;

                        bottom: -3px;
                        right: -3px;

                        @include themify($themes) {
                            border: 2px solid themed("header-color");
                        }
                    }

                    .online {
                        background-color: $color-success;
                    }

                    .offline {
                        background-color: $color-red;
                    }

                    .away {
                        background-color: $color-amber;
                    }
                }
            }
        }
    }
}


.classroom {
    position: relative;

    .classroom-outer {
        display: flex;
        flex-direction: row;

        z-index: 3;

        .classroom-left {
            width: 100%;
            height: 100%;

            .classroom-header {
                width: 100%;
                height: 200px;

                border-radius: 5px;
                margin-bottom: 40px;

                background-color: $header-color;

                border: 2px solid $border-color;
            }
        }

        .classroom-right {
            height: fit-content;
            display: flex;
            justify-content: flex-end;



            .box {
                padding: 20px;

                border-radius: 3px;
                background-color: $header-color;

                border: 2px solid $border-color;

                b {
                    @include themify($themes) {
                        color: themed("text-primary");
                    }

                    font-size: 14px;
                }

                p {
                    @include themify($themes) {
                        color: themed("text-secondary");
                    }

                    font-size: 13px;
                }

                .activities {
                    margin-top: 20px;

                    .activity {
                        display: flex;
                        align-items: center;
                        flex-direction: row;

                        width: fit-content;

                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        img {
                            width: 35px;
                            border-radius: 5px;
                            margin-right: 15px;
                        }

                        .text {
                            display: flex;
                            flex-direction: column;

                            .title {
                                @include themify($themes) {
                                    color: themed("text-primary");
                                }

                                font-size: 12px;
                                font-weight: 300;

                                span {
                                    @include themify($themes) {
                                        color: themed("text-primary");
                                    }

                                    font-weight: 700;
                                }

                                font {
                                    color: $primary-brand-color;
                                }
                            }

                            b {
                                font-size: 12px;
                            }

                            p {
                                margin-top: 2px;

                                @include themify($themes) {
                                    color: themed("text-secondary");
                                }
                            }
                        }
                    }
                }


            }
        }
    }

    .classroom-guides {
        display: flex;
        flex-direction: column;

        padding: 0px 25px 20px 20px;

        border-left: 2px solid $border-color;
        border-right: 2px solid $border-color;
        border-bottom: 2px solid $border-color;

        border-radius: 5px;

        .guide {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 25px;

            .more-info {
                @include themify($themes) {
                    color: themed("text-secondary");
                }
            }

            .guide-inner {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            .checked {
                border: none !important;
                background-color: $primary-brand-color !important;
            }

            .guide-icon {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin-right: 15px;

                .line {
                    height: 10px;
                    width: 1px;

                    background-color: white;
                }

                .icon {
                    width: 30px;
                    height: 30px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: transparent;
                    border: 2px solid $border-color;

                    border-radius: 50%;

                    i {
                        font-size: 14px;
                        color: white;
                    }
                }
            }

            .guide-text {
                display: flex;
                flex-direction: column;

                b {
                    color: white;
                    font-size: 15px;
                    margin-bottom: 5px;
                }

                p {
                    @include themify($themes) {
                        color: themed("text-secondary");
                    }

                    font-size: 14px;
                }
            }
        }
    }

    .teachers-outer {
        margin-top: 40px;

        .title {
            font-weight: 600;
            font-size: 13px;

            padding: 10px 15px;

            @include themify($themes) {
                background-color: themed("header-color");
            }

            border-radius: 5px;
        }
    }

    .teachers {
        display: flex;
        flex-direction: row;

        .teacher {
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 10px 15px;

            margin-top: 5px;
            margin-right: 10px;

            @include themify($themes) {
                background-color: themed("header-color");
            }

            border-radius: 5px;

            img {
                height: 20px;
                border-radius: 50%;
            }

            p {
                margin-left: 10px;
                font-size: 13px;
            }
        }
    }

    .classroom-homework-table {
        width: 100%;

        border-collapse: collapse;
        overflow: auto;

        td,
        th {
            padding: 15px;
        }

        tr {
            border-radius: 5px;
        }

        thead {

            tr {
                &:first-child {
                    @include themify($themes) {
                        background-color: themed("header-color");
                    }

                    th {
                        font-size: 13px;
                        font-weight: 500;

                        @include themify($themes) {
                            color: themed("text-secondary");
                        }
                    }
                }
            }
        }

        tbody {
            width: 100%;
            overflow-y: scroll;
        }

        th {
            text-align: left;

            @include themify($themes) {
                color: themed("text-primary");
            }

            width: fit-content;

            i {
                font-size: 12px;
                margin-right: 3px;
            }
        }

        td {
            font-size: 13px;
            font-weight: 400;
            transition: .2s;

            @include themify($themes) {
                color: themed("text-secondary");
            }

            border-spacing: .5em;

            &:first-child {
                font-weight: 700;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        p {
            margin-bottom: 20px;

            @include themify($themes) {
                color: themed("text-secondary");
            }

            font-size: 14px;
        }

        .homework {
            width: 100%;
            height: 60px;

            padding: 10px;

            margin-bottom: 20px;

            border-radius: 5px;
            font-size: 13px;

            @include themify($themes) {
                background-color: themed("header-color");
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .classroom-topics {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

        overflow: auto;

        grid-gap: 30px;
        margin-top: 20px;
        max-height: 100px;

        .add {
            .topic-header {
                border: 2px dotted $border-color;
                background: none !important;

                display: flex;

                align-items: center;
                justify-content: center;

                &:hover {
                    border: 2px dotted $text-secondary;
                }

                &:active {
                    border: 2px dotted $header-color;
                }

                p {
                    @include themify($themes) {
                        color: themed("text-secondary");
                    }

                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }
    }


}