$main-color: #18181c;
$secondary-color: #F8F9FA;
$foreground-color: #21252b;
$background-color: #28282e;
$item-color: #1e1e23;

$text-secondary: #908e92;
$text-hover: #FF6F30;

$active-color: #393a3f;
$border-color: #34353a;
