$main-color: #141415;
$header-color: #1D1E1F;

$secondary-color: #F8F9FA;
$foreground-color: #21252b;

$background-color: #28282e;

$item-color: #242424;

$text-secondary: #808081;
$text-on-light: #707070;
$text-darker: #616161;

$text-subtitle: #939393;

$text-hover: #7f5ff9;

$gradient-color: linear-gradient(90deg, rgba(127,95,249,1) 0%, rgba(96,127,235,1) 100%);

$active-color: #2f2f2f;

$border-color: #252628;



$color-success: #5effc1;
$color-amber: #e2b24b;
$color-red: #eb5255;

$color-blue: #52ACF5;
$color-blue-dark: #2885ec;
$color-blue-dark-dark: #1c2935;
$color-purple: #8566F9;
$color-yellow: #ECB728;
$color-yellow-dark: #352F1C;

$color-green-light: #BBE668;

$primary-brand-color: $color-blue-dark;



$header-size: 75px;