$main-color: #18181c;
$secondary-color: #F8F9FA;
$foreground-color: #21252b;
$background-color: #28282e;

$text-secondary: #908e92;
$text-hover: #4557F0;

$active-color: #393a3f;
$border-color: #34353a;
